 <div class="user-details">
  <h1> Core Skills </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <p>Knowledge in C, C++, C#, Java, XML, HTML, CSS and Haskell</p>
    </div>
    <div class="tech">
      <h2>Frameworks</h2>
      <p>Ability to utilise OpenGL, Glut, XNA, Bootstrap, SASS, JUnit & ASP.Net</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <p>Well Versed in Visual Studio, Eclipse, Android Studio, Unity3d, Unreal Engine 4 and Blender</p>
    </div>
</div>
