<div class="user-details">
    <h1> Contact Me </h1>
</div>

<form id="form" action="https://formspree.io/markmonteno@gmail.com" method="POST" class="topBefore">

    <input id="name" name="name" type="text" placeholder="NAME">
    <input id="email" name="email" type="email" placeholder="E-MAIL">
    <textarea id="message" name="message" type="text" placeholder="MESSAGE"></textarea>
    <input id="submit-btn" type="submit" value="GO!">

</form>

<div class="user">
   <p>
       You can also find me through the following:
       Github: monteno-m
       LinkedIn: monteno
       Ph: Avail. upon request
   </p>
</div>