<div class="user-details">
    <h1> Contact Me </h1>
</div>

<form id="form" action="https://formspree.io/markmonteno@gmail.com" method="POST" class="topBefore">

    <input id="name" name="name" type="text" placeholder="NAME" required>
    <input id="email" name="email" type="email" placeholder="E-MAIL" required>
    <textarea id="message" name="message" type="text" placeholder="MESSAGE" required></textarea>
    <input id="submit-btn" type="submit" value="GO!">

</form>

<div class="contact-details">
    <h3>
        You can also find me via the following:
    </h3>
    <p>
        <a href="https://github.com/monteno-m">Github: monteno-m</a>
    </p>
    <p>
        <a href="http://www.linkedin.com/in/mark-monteno">Linkedin: Mark Monteno</a>
    </p>
    <p>
        <a href="mailto:markmonteno@gmail.com">Email: markmonteno@gmail.com</a>
    </p>
</div>