<div class="user-details">
    <h1> About Me </h1>
    <p>
        Hi, I'm Mark Monteno, an aspiring Software Engineer &amp; Developer.
        I am currently studying towards my Bachelor of Software Engineering and will hopefully graduate in late 2018.
        Below are just some of my highlighted technical skills and featured projects,
        for a more full picture please do not hesitate to contact me.
    </p>
</div>

<div class="container">
    <div class="col-lg-offset-4 col-lg-4" id="panel">
        <h2>Contact</h2>
        <form>
            <div class="group">
                <input type="text" required>
                <label>Name</label>
            </div>
            <div class="group">
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Email</label>
            </div>
            <div class="group">
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Mobile No</label>
            </div>
            <div class="group">
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Message</label>
            </div>
            <div class="group">
                <center> <button type="submit" class="btn btn-warning">Send <span class="glyphicon glyphicon-send"></span></button></center>
            </div>
        </form>
    </div>
</div>