<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 3D Rendering Engine </h3>
    <ul>
      <li> Utilises OpenGL & Provided a Grasp of 3D Graphics</li>
      <li> C++ &amp; C Knowledge </li>
    </ul>
    <p>Built a 3D Rendering Engine in OpenGL and Glut using the fixed-rendering pipeline. 
      Includes a custom-fully featured 3D Mesh loader, simple 3D collisions between multiple objects
      and a high degree of performance and efficiency. Built in 3 Weeks as a project </p>
    <a class="project-link" href="https://github.com/monteno-m/T1Engine">Github Link</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Complete 2D Game </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
