<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/t1engine.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 3D Rendering Engine </h3>
    <ul>
      <li> Utilises OpenGL </li>
      <li> Provided a Grasp of 3D Graphics</li>
      <li> C++ &amp; C Knowledge </li>
    </ul>
    <p>Built a 3D Rendering Engine in OpenGL and Glut using the fixed-rendering pipeline. 
      Includes a custom-fully featured 3D Mesh loader, simple 3D collisions between multiple objects, 
      a high degree of performance and efficiency & more. Built in 3 Weeks as a project </p>
    <a class="project-link" href="https://github.com/monteno-m/T1Engine">Github Link</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/2dgame.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Complete 2D Game </h3>
    <ul>
      <li> Built with Monogame</li>
      <li> Functioning Particle Systems </li>
      <li> Persistent Save Data & Highscores </li>
    </ul>
    <p>Created a feature-complete 2D Game with Monogame. Features a functioning particle system, 
      complete collisions between multiple objects, multiple levels & pausing functionality, saving system and a
      high scores system, as well as solidifying my knowledge in C#.
    </p>
    <a class="project-link" href="https://github.com/monteno-m/Monogame-2D-Game">Github Link</a>
  </div>
 </div>

  <div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/visionapp.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Business Card Recognition App </h3>
    <ul>
      <li> Complete Android Application </li>
      <li> Use of Google's Vision API</li>
      <li> Basic Database Use </li>
    </ul>
    <p> Created an Android Application in Android Studio. The Application primarily uses Google's Vision API to read photos of
    Business Cards, which are then run through an algorithm which extracts the relevant information and categorises it. Additionally
    the application also implements saving and loading of read business cards, as well as toasts, menus and settings. </p>
    <a class="project-link" href="https://github.com/monteno-m/T1Engine">Github Link</a>
  </div>
</div>
